.classes .short {
	color: #d64db3;
}
.classes .long {
	color: #D6984D;
}

.paging ul {
	margin-top: 60px;
	margin-bottom: 60px;
	text-align: center;
}
.paging li {
	width: 40px;
	height: 40px;
	line-height: 40px;
	display: inline-block;
	border-radius: 50%;
	background-color: #f0f0f0;
}

/*两者都没有就是灰色不可点击*/
.paging li.cur { /*当前*/
	background-color: #FFEDB2;
}

.paging li.clickable { /*可点击*/
	background-color: #D6F2FF;
}

.paging li.clickable:hover {
	cursor: pointer;
	background-color: #B9CBF7;
}
